<configuration>

    <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--&lt;!&ndash; encoders are assigned the type-->
             <!--ch.qos.logback.classic.encoder.PatternLayoutEncoder by default &ndash;&gt;-->
        <!--<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">-->
            <!--&lt;!&ndash;<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>&ndash;&gt;-->
            <!--&lt;!&ndash;<layout class="com.pb.nkk.log.layout.JsonLayout" />&ndash;&gt;-->
            <!--<layout class="com.pb.nkk.log.layout.TextSampleLayout" />-->
        <!--</encoder>-->
    <!--</appender>-->


    <appender name="STDOUT2" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="com.pb.nkk.log.layout.StashPatternLayoutEncoder">
            <application>LogJson</application>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<root level="info">-->
        <!--<appender-ref ref="STDOUT" />-->
    <!--</root>-->

    <root level="debug">
        <appender-ref ref="STDOUT2" />
    </root>
</configuration>